@font-face {
    font-family: "productsans";
    src: url("sans/productsans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "productsans";
}

body {
    background-color: #FFFFFF;
}
.menu{
    background-color: #F1F3F4; /*молочно-бежевый с прозрачностью*/
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center; /* Центрирует по вертикали */

}

.logo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}
.logo:hover {
    background-color: Gainsboro;

}


.auth {
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */

    margin-right: 1%;
    border-radius: 50px;
    border: 2px solid #D3D3D3;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}
.auth:hover {
    height: 90%;
    width: 70%;
    background-color: Gainsboro;
    border-color: black;


}

.menubutton {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: 0.3s ease;

}
.menubutton:hover {
    background-color: Gainsboro;
}

.proflist {
    background-color: #FFFFFF;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;
    flex-direction: column;
}

.prof {
    background-color: #F1F3F4;
    height: 20%;
    width: 80%;
    border-radius: 50px;
    border: 2px solid #D3D3D3;
    text-decoration: none;
    color: inherit;
    margin: 2%;
}

.prof:hover {
    background-color: Gainsboro;
    border-color: black;
    transition: 0.3s ease;


}

.profname {
    margin-left: 4%;
    margin-top: 3%;
    margin-right: 4%;


}
.profdescr{
    margin-left: 4%;
    margin-top: 1%;
    font-size: 18px;
    margin-right: 4%;
}
.backimg {
    background-image: url("images/mainpageback.jpg");
    background-size: contain;

}

